<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Lands container">
    <div class="chip"> Lands </div>
    <div class="row">
        <div th:each="LandsFound: ${allLands}" class="col s12 l4">
            <a th:href="'/lands/' + ${LandsFound.name}" th:text="${LandsFound.name}"></a>
            <a th:href="'/lands/' + ${LandsFound.id}" th:text="${LandsFound.id}"></a>
        </div>
        <div th:each="RidesFound: ${allRides}" class="col s12 l4">
            <a th:href="'/rides/' + ${RidesFound.name}" th:text="${RidesFound.name}"></a>
            <a th:href="'/rides/' + ${RidesFound.id}" th:text="${RidesFound.id}"></a>
        </div>

    </div>

        </div>
</div>
<!--            <div th:each="ridesFound: ${rideInfo}" class="col s12 l4">-->
<!--                <p th:href="'/Food/' + ${ridesFound.name}" th:text="'$' + ${ridesFound.name}"></p>-->
<!--                <p th:href="'/Food/' + ${ridesFound.minHeight}" th:text="'$' + ${ridesFound.minHeight}"></p>-->
<!--            </div>-->


</body>
</html>