<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Lands container">
    <div class="chip"> Lands </div>
    <div class="row">
        <div th:each="LandsFound: ${landInfo}" class="col s12 l4">
            <a th:href="'/lands/' + ${LandsFound.name}" th:text="'$' + ${LandsFound.name}"></a>
            </a>
        </div>
    </div>
</div>
<!--<div class="landInfo">-->
<!--                <a th:href="'/lands/' + ${landName}" th:text="'$' + ${landName}"></a>-->
<!--</div>-->

</body>
</html>